class MacosWireguardDaemon < Formula
  desc "Daemon for running WireGuard VPN tunnels on macOS"
  homepage "https://github.com/pansen/macos-wireguard-daemon"
  url "__URL__"
  sha256 "__SHA256__"
  license "MIT"

  depends_on arch: :arm64

  def install
    bin.install "wgd"
  end

  def caveats
    <<~EOS
      wgd's privileged launchd daemon refuses to run from #{HOMEBREW_PREFIX},
      since that directory isn't root-owned. To install the daemon:

        sudo install -o root -g wheel -m 755 #{opt_bin}/wgd /usr/local/bin/wgd
        sudo /usr/local/bin/wgd launchd install

      See https://github.com/pansen/macos-wireguard-daemon for details.
    EOS
  end

  test do
    system "#{bin}/wgd", "--version"
  end
end
